@media print{
           
            table {
                width: 40% !important;
            }

            th {
                height: 50px !important;
                text-align: left !important;
            }
            th,td{
                 padding: 15px !important;
                 border-bottom: 1px solid #ddd !important;
            }
        }
@media screen{
            
            table {
                width: 40% !important;
            }

            th {
                height: 50px !important;
                text-align: left !important;
            }
            th,td{
                 padding: 15px !important;
                 border-bottom: 1px solid #ddd !important;
            }
        }